<link href="https://fonts.googleapis.com/css?family=Amatica+SC|Roboto+Condensed" rel="stylesheet">
<style>

.list-group {margin-bottom:0px;}
.well {padding: 10px; background-color: rgba(245,245,245,0.4); margin-top: 10px;}
#search-background { 
      ##background-image: url(https://libapps.s3.amazonaws.com/accounts/54374/images/spines2.jpg);
      background-repeat: no-repeat;
      margin: 0px 0px;
      padding: 2% 2%;
      color: #ff;
}

.ui-widget-header {
background: #fff;
}

#search-info{
background-color: rgba(0,0,0,0.6); padding-left 0px;}

#s-lg-guide-tabs-title-bar {
    border: none;
}


/*changes font size for command bar on admin side*/
s-lg-admin-command-bar {font-size: 12px;}

/*removes padding from body, sets body font*/
body {
	padding: 0px 0px;
	font-family: 'Roboto Condensed', sans-serif;
  	color: #222222;
  	font-size: 15px;
  	background-color: #E9EAED;
        ##background-image: url("https://libapps.s3.amazonaws.com/accounts/54374/images/weber_Pano.jpg");
        background-attachment: fixed;
        background-position: center center;
  	}
/*adds padding to content area*/
.s-lib-side-borders {
	padding: 0px 20px;

	}

/*tucks skiplink out of view*/
#s-lg-public-skiplink {
	top: -70px;
	}
	
/*modifies menu text by hamburger menu, mobile view*/
#menu-text { 
	padding-right: 14px; 
        padding-left: 5px;
	font-size: 20px;
  	font-family: 'Roboto Condensed', sans-serif;
  	color: #FFFFFF;
	} 

/*modifies library name on mobile view*/
#header-nav .navbar-default .navbar-brand {
  font-family: 'Amatica SC', cursive;
  font-weight: 800;
  font-size: 3em;
  color: #222222;
  margin-bottom: 32px
}

/*styles branding area - background color behind logo or banner*/
#branding-area {
	background-color: #000000;
        padding: 8px;
}
/*styles links in branding area - not needed for banner image*/
#branding-area a{
	color: #fff;
}
#branding-area a:hover, #branding-area a:visited, #branding-area a:focus {
	color: #e8e8e8
}

/*styles navbar background color, squares edges, sets font*/
#header-nav .navbar-default {
  background-color: #105d55;
	border-color: #000000;
	border-radius: 0px;
  	font-family: 'Roboto Condensed', sans-serif;
}
/*changes color for navbar links*/
#header-nav .navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
 padding-top: 40px;
padding-bottom:40px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
    
/*changes background color for open, hover and focused navbar links*/
#header-nav .navbar-default .navbar-nav>.open>a,#header-nav .navbar-default .navbar-nav>.open>a:focus,#header-nav .navbar-default .navbar-nav>.open>a:hover {
        background-color: #105D55;
      }

/*styles box titles*/
.s-lib-box .s-lib-box-title {
	background-color: #105d55;
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	}
/*styles tabs on search box*/
.ui-tabs-anchor {
background-color: #105d55;
color: #FFFFFF;
font-size: 16px;
font-weight: 600;
font-family: 'Roboto Condensed', sans-serif;
}
/*Changes font color on search box tabs*/
#ui-id-1 {
color: #FFFFFF
}
/*Changes font color on search box tabs*/
#ui-id-2 {
color: #FFFFFF
}
/*Changes font color on search box tabs*/
#ui-id-3 {
color: #FFFFFF
}

/*Footer styles*/

#custom-footer {
    background-color: #252527;
    color: white;
    padding-top: 30px;
}

#custom-footer .row {
    margin-bottom: 60px;
}

#custom-footer .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#custom-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#custom-footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#custom-footer h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#custom-footer a {
    color: #d2d1d1;
    text-decoration: none;
}

#custom-footer a:hover,
#custom-footer a:focus {
    text-decoration: none;
    color: white;
}

#custom-footer .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#custom-footer .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#custom-footer .social-networks a:hover {
    text-decoration: none;
}

#custom-footer .facebook:hover {
    color: #0077e2;
}

#custom-footer .youtube:hover {
    color: #ef1a1a;
}

#custom-footer .twitter:hover {
    color: #00aced;
}

#custom-footer .btn {
    color: 105d55;
    background-color: #d2ef8f;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

/*media queries for mobile, 767 or less*/
@media (max-width: 767px) {
  /*changes background color for expanded menus*/
  #header-nav .navbar-nav .open .dropdown-menu {
  background-color: #FFFFFF;
}

.s-lib-side-borders {
      width: 100% !important;
    }

  /*changes link color in expanded menus*/
  #header-nav .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #000000;
        font-size: 15px;
    }
}

/*media queries for non-mobile screens*/
@media (min-width: 768px) {
/*increases navbar font size*/
#header-nav .navbar-default .navbar-nav>li>a {
  font-size: 15px;

}

  
/*increases font size in dropdowns*/
#header-nav .dropdown-menu>li>a {
font-size: 15px;
    }  
}

@media (min-width: 1200px) {
/*increases navbar font size on largest screensize*/
#header-nav .navbar-default .navbar-nav>li>a {
  font-size: 16px;}
}

</style>
